
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <title>_main</title>
    @Styles.Render("~/bundles/ace/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding:0">
    
    @Html.Partial("_Userbar")<!-- 登陆人头部信息 -->
    
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try { ace.settings.check('main-container', 'fixed') } catch (e) { }
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>
            @Html.Partial("_Sidebar")<!-- 左边选项栏 -->
            <div id="divBody">
                @RenderBody()
            </div>
            @Html.Partial("_Settingbar")<!-- 设置浮动窗-->
        </div><!-- /.main-container-inner -->

        <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
            <i class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
    </div>
    @Scripts.Render("~/bundles/jquery")<!-- jquery-->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='~/Scripts/assets/js/jquery-2.0.3.min.js'>" + "<" + "script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='~/Scripts/assets/js/jquery-1.10.2.min.js'>"+"<"+"script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if ("ontouchend" in document) document.write("<script src='~/Scripts/assets/js/jquery.mobile.custom.min.js'>" + "<" + "script>");
    </script>
    @Scripts.Render("~/bundles/ace/js")<!-- ACE JS-->
    @*<script src="~/Scripts/ViewJS/Main/MainACEJS.js"></script>*@
    @RenderSection("scripts", required: false)
    <div style="display:none">
    <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
